/* #chatbot-modal {
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
  }
  #chat-messages {
    flex: 1 1 0%;
    overflow-y: auto;
    min-height: 0;
    scroll-behavior: smooth;
  }
  .chat-message {
    max-width: 80%;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    max-height: 200px;
    overflow-y: auto;
  } */